body{
    overflow: hidden;
}
body#landing{
  background: url("assests/imgs/riverLANDING.JPG") no-repeat fixed;
  background-size:100%;;
 
}
/*Ids*/
#landingnav{
    background:white;
    

}
/*Classes*/
.title{
    font-family: 'Yellowtail', cursive;
    font-size: 650%;
    color:white;
}