body{
    overflow: hidden;
}
body#landing{
  background: url("assests/imgs/riverLANDING.JPG") no-repeat fixed;
  background-size:100%;;
 
}
/*Ids*/
#landingnav{
    background:white;
} 

#quote{
    text-justify: right;
    color:white;
    border: none;
}

#welcome{
    width: 25%;
    height: 20%;
    font-size: 100%;
    background: rgba(0, 0, 0, 0.5);
    color:white;
    font-family: 'Yellowtail', cursive;
    border: none;
    padding:15px;

}
/*Classes*/
.title{
    font-family: 'Yellowtail', cursive;
    font-size: 650%;
    color:white;
}